.bg-dark {
    background-color: #222533 !important;
  }

.navbar-brand {
    text-decoration: none;
        color: #91eeda !important;
      }

.first-block {
    background-color: #4e5262;
      }

.white-text {
    text-decoration: none;
    color: white;
}

.btn-success {
        background-color: #91eeda;
        border-color: #91eeda;
        text-decoration: none;
        color: #222533;
        font-weight: bold;
           
}