.bg-dark {
    background-color: #222533 !important;
}

.navbar-brand {
    text-decoration: none;
    color: #91eeda !important;
}

.dark-background-color {
    background-color: #4e5262;
}

.white-text {
    text-decoration: none;
    color: white;
}

.btn-light {
    background-color: #91eeda;
    border-color: #91eeda;
    text-decoration: none;
    color: #222533;
    font-weight: bold;    
}

.background-color {
    background-color: #f0f4f6;
}

.card-background-color {
    background-color: #222533;
}

a { text-decoration: none;
    color: rgb(33, 37, 41)
}
          
a:hover {
    text-decoration: underline;
    color: rgb(33, 37, 41)
}