.separateRegTable {
    border: #222533 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    min-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #4e5262;
}

.regForm {
    color: white;
}

.textfields input, #country {
    height: 30px;
    width: 220px;
    margin-top: 15px;
    border-radius: 5px;
}

input[placeholder] {
    padding-left: 5px;
}

#country:first-child {
    color: gray;
}

a:link, a:visited {
    color: #91eeda;
}

.termsAndConditions {
    padding-top: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 13px;
}

input[type="submit"] {
    background-color: #91eeda;
    color: #222533;
    font-weight: 700;
    width: 300px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
}

